.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #36393f;
  height: 100vh;
}

.chat__input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;
  background-color: #40444b;
}
.chat__input > form {
  flex: 1;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  width: 100%;
  border: none;
  outline-width: 0;
  color: white;
  font-style: large;
}

.chat__inputButton {
  display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
  font-size: 25px;
}

.chat__messages {
  flex: 1;
}
